[user]
	email = ypsitau@nifty.com
	name = ypsitau
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	hist = log --graph --date=short --pretty=format:'%h %ad  %s%d [%an]'
[core]
	autocrlf = input
